*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: cursive;
  color: #fff;  
}

html,body{
  height: 100%;
  width: 100%;
}
body{
    background-color: #111;

}

.parentCard{
  padding:20px;
  display: flex;
  /* justify-content: center; */
  /* text-align:center; */
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 20px;
  
}

.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover ;
  border-radius: 10%;
}

.card p{
  margin: 20px;
}
.card button{
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
}