*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: #222;

}
.card{
    width:90%;
    max-width: 350px;
    height: 450px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    width: 400px;
    border-radius: 20px;
    align-items: center;
    height: 40px;
    background-color: #ccc;
    font-size: 15px;
    margin-left: 30px;
    padding: 20px;
    
}

.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    /* width: 10px; */
    /* height: 30px; */
    margin-left: 20px;
    cursor: pointer; /* this creates cursor like hand shape */

}

.search button img{
    align-items: center;
    width: 16px;
    padding-top: 2px;

}
.weather-icon{
    width: 100px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.weather h2{
    margin-top: 5px;
    font-size: 30px;
}
.weather h1{
    font-size: 50px;
}

.col{
    display: flex;
    justify-content: space-between;
}

.col img{
    width: 30px;
    margin-right: 10px;
    
}

.humidity{
    font-size: x-large;
    text-align: left;
    margin-top: 2px;

}

.wind{
    font-size: x-large;
    text-align: left;
    margin-top: 2px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 40px;
    font-size: 12px;
    margin-top: 10px;
}